---
import Layout from '../../layouts/Layout.astro';
const posts = await Astro.glob('./*.md');
---
<Layout>
    <main>
        {posts.map(post => {
            return (
                <a href={post.url}>
                    <section title={post.frontmatter.title}>
                        <h2>{post.frontmatter.title}</h2>
                        <p>{post.frontmatter.description}</p>
                    </section>
                </a>
            );
        })}
    </main>
</Layout>
<style>
    main {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        background-color: #DCD7C9;
        min-height: 100%;
    }
    a {
        text-decoration: none;
        color: #2C3639;
        min-height: 20%;
        margin: 2em;
        padding: 2em 0 0 2em;
        border: 3px dashed #2C3639;
        transition: background-color, color, border, 0.5s;
    }
    @media (hover) {
        a:hover {
            background-color: #2C3639;
            color: #DCD7C9;
            border: 3px dashed #DCD7C9;
            transition: background-color, color, border, 0.5s;
        }
    }
    @media (max-width: 1000px) {
        a {
            width: 90%;
        }
    }

    @media (min-width: 1000px) {
        a {
            width: 50%;
        }
    }
</style>