---
import Layout from '../../layouts/Layout.astro';
const posts = await Astro.glob('./*.md');
---
<Layout>
    <main>
        {posts.map((post, i) => {
            return (
                <a href={post.url} class={i % 2 === 0 ? "primary" : "secondary"}>
                    <section title={post.frontmatter.title}>
                        {/* TODO: Consider adding images */}
                        <h2>{post.frontmatter.title}</h2>
                        <p>{post.frontmatter.description}</p>
                    </section>
                </a>
            );
        })}
    </main>
</Layout>
<style>
    main {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        background-color: #DCD7C9;
        min-height: 100%;
    }
    a {
        text-decoration: none;
        min-height: 20%;
        margin: 2em;
        padding: 2em 0 0 2em;
        transition: background-color, color, border, 0.5s;
    }
    .primary {
        text-shadow: 2px 0 #DCD7C9, -2px 0 #DCD7C9, 0 2px #DCD7C9, 0 -2px #DCD7C9,
            1px 1px #DCD7C9, -1px -1px #DCD7C9, 1px -1px #DCD7C9, -1px 1px #DCD7C9;
        border: 3px dashed #2C3639;
        color: #2C3639;
    }
    .secondary {
        text-shadow: 2px 0 #2C3639, -2px 0 #2C3639, 0 2px #2C3639, 0 -2px #2C3639,
            1px 1px #2C3639, -1px -1px #2C3639, 1px -1px #2C3639, -1px 1px #2C3639;
        border: 3px dashed #DCD7C9;
        background-color: #2C3639;
        color: #DCD7C9;
    }
    @media (hover) {
        a:hover {
            transition: background-color, color, border, 0.5s;
            background-color: #A27B5C;
            color: #DCD7C9;
            border: 3px dashed #DCD7C9;
        }
        .primary:hover {
            text-shadow: 2px 0 #2C3639, -2px 0 #2C3639, 0 2px #2C3639, 0 -2px #2C3639,
            1px 1px #2C3639, -1px -1px #2C3639, 1px -1px #2C3639, -1px 1px #2C3639;
        }
    }
    @media (max-width: 1000px) {
        a {
            width: 90%;
        }
    }

    @media (min-width: 1000px) {
        a {
            width: 50%;
        }
    }
</style>