---
import Layout from "../layouts/Layout.astro";


---
<Layout>
    <meta slot="inside-head" name="description" 
	content="about page for Berke Anday Baloglu's portfolio/resume
		 website. Includes information about tech-stack etc."/>
    <meta
        slot="inside-head"
        name="keyword"
        content="berke, anday, baloglu, baloğlu, berke anday, berke baloğlu, berke anday baloğlu, anday baloğlu,
        portfolio, portfolyo, berke anday baloğlu portfolyo, berke anday baloglu resume, cv, resume, berke anday baloglu cv,
        berke anday baloğlu özgeçmiş, özgeçmiş"
    />
    <main>
        <section id="about-me">
            <h2>About Me</h2>
            <p>I am Berke Anday Baloglu, A Computer Science MSc Student in University of St Andrews.
                I am passionate about web applications, and am continously improving myself on
                 the field.
            </p>
            <h3>Programming Languages</h3>
            <p>Typescript, Javascript, Java, Python</p>
            <h3>Frameworks and Libraries</h3>
            <p>React, Vue, Nuxt.js</p>
            <h3>Other Tools and Practices</h3>
            <p>Git, CI, Vite, Node.js, REST API, GraphQL, tRPC, Docker</p>
            <h3>Currently Learning</h3>
            <p>Next.js, Spring, Prisma</p>
        </section>
    </main>
</Layout>

<style>
    main {
        min-height: 100%;
        display: grid;
        grid-template-rows: auto;
        background-color: #DCD7C9;
        font-size: 1rem;
    }
    h2 {
        text-align: center;
        color: #2C3639;
        font-size: 2rem;
        border-bottom: 3px dashed #2C3639;
    }
    h3 {
        color: #3F4E4F;
        width: fit-content;
        border-bottom: 2px dashed #3F4E4F;
        font-size: 1.5rem;
    }
    section {
        margin: 2em;
        padding: 2em;
        border: 3px dashed #3F4E4F;
    }
</style>
