---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <meta
    slot="inside-head"
    name="description"
    content="about page for Berke Anday Baloglu's portfolio/resume
		 website. Includes information about tech-stack etc."
  />
  <main>
    <section id="about-me">
      <h2>About Me</h2>
      <p>
        I am Berke Anday Baloglu, A Computer Science MSc Student in University
        of St Andrews. I am passionate about web applications, and am
        continously improving myself on the field.
      </p>
      <h3>Programming Languages</h3>
      <p>Typescript, Javascript, C#</p>
      <h3>Secondary Programming Languages</h3>
      <p>Golang, Java, Python</p>
      <h3>Frameworks and Libraries</h3>
      <p>React, Vue, Nuxt.js</p>
      <h3>Other Tools and Practices</h3>
      <p>Git, CI, Vite, Node.js, REST API, GraphQL, tRPC, Docker</p>
      <h3>Currently Learning</h3>
      <p>Next.js, Spring, Prisma</p>
    </section>
  </main>
</Layout>

<style>
  main {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto;
    background-color: #dcd7c9;
    font-size: 1rem;
  }
  h2 {
    text-align: center;
    color: #2c3639;
    font-size: 2rem;
    border-bottom: 3px dashed #2c3639;
  }
  h3 {
    color: #3f4e4f;
    width: fit-content;
    border-bottom: 2px dashed #3f4e4f;
    font-size: 1.5rem;
  }
  section {
    margin: 2em;
    padding: 2em;
    border: 3px dashed #3f4e4f;
  }
</style>
