---
import Layout from "../layouts/Layout.astro";
---
<Layout>
	<!--TODO: extract this to a jsx component for animated background -->
	<span slot="inside-header">Hello There! I am</span>
	<h1 slot="inside-header">Berke Anday Baloglu</h1>
	<span slot="inside-header">Full-stack developer, MSc Student</span>
	<!--TODO: add linkedin, github images with links here -->
</Layout>

<style>
	h1 {
		font-size: 2em;
		background-color: #DCD7C9;
		max-width: fit-content;
		padding: 2px;
	}
	span {
		background-color: #DCD7C9;
		padding: 2px;
	}
</style>