---
import Layout from "../layouts/Layout.astro";
---
<Layout>
	<h1 slot="inside-header">Berke Anday Baloglu</h1>
	<p slot="inside-header">Full-stack developer, MSc Student</p>
	<!--TODO: add linkedin, github images with links here -->
	<h2>A</h2>
	<p>B</p>
</Layout>

<style>
	h1 {
		font-size: 2em;
		color: #3F4E4F;
	}
</style>