---
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
import projectData from "../data/projects.json";
---
<Layout>
    <meta slot="inside-head" name="description" 
	content="projects page for Berke Anday Baloglu's portfolio/resume
		 website. Consists of a timeline and previous projects developed."/>
    <meta
        slot="inside-head"
        name="keyword"
        content="berke, anday, baloglu, baloğlu, berke anday, berke baloğlu, berke anday baloğlu, anday baloğlu,
        portfolio, portfolyo, berke anday baloğlu portfolyo, berke anday baloglu resume, cv, resume, berke anday baloglu cv,
        berke anday baloğlu özgeçmiş, özgeçmiş"
    />
    <main>
        <h2>Projects</h2>
        <section id="project-timeline">
            <div class="vertical-line"></div>
            {projectData.projects.map((proj, i) => {
                const alignment = i % 2 == 0 ? "left" : "right";
                return (
                    <Project alignment={alignment} {...proj}/>
                );
            })}
        </section>
    </main>
</Layout>
<style>
    main {
        min-height: 100%;
        display: grid;
        grid-template-rows: 4em;
        background-color: #DCD7C9;
        overflow: visible;
        font-size: calc((.1em + .5vmin) + (.1em + .5vmax));
        padding-bottom: 4em;
    }
    h2 {
        justify-self: center;
        color: #3F4E4F;
        width: fit-content;
        border-bottom: 3px dashed #3F4E4F;
        margin-bottom: 0px;
    }
    section#project-timeline {
        display: grid;
        grid-template-columns: 1fr fit-content(10px) 1fr;
        row-gap: 2rem;
        align-items: center;
        min-height: 100%;
        max-width: 100%;
        padding: 2em 0;
    }
    .vertical-line {
        border-left: 3px dashed #3F4E4F;
        grid-column: 2;
        height: 100%;
        grid-row: 1/span 6;
        padding: 2em 0;
    }
</style>
