---
import Layout from "../layouts/Layout.astro";


---
<Layout>
    <main>
        <h2>Projects</h2>
        <section id="project-1-puzzlaffic">
            <h3>Puzzlaffic</h3>
            <ul>
                <li>
                    A coding game created using Typescript React with Redux
                     and Firebase
                </li>
                <li>
                    Currently migrating to be a full-stack Next.js app which uses tRPC
                </li>
                <li>
                    Uses Google Blockly for code generation
                </li>
                <li>
                    Contributed to Google Blockly during the development process
                </li>
            </ul>
        </section>
    </main>
</Layout>

<style>
    main {
        height: 100%;
        display: grid;
        grid-template-rows: 6em;
        background-color: #DCD7C9;
    }
    h2 {
        justify-self: center;
        color: #3F4E4F;
        width: fit-content;
        border-bottom: 1px solid #3F4E4F;
    }
    section#project-1-puzzlaffic {
        justify-self: right;
        text-align: right;
        border: 1px solid black;
        height: fit-content;
        width: 50%;
        padding: 1em;
        margin: .5em;
        background-color: #3F4E4F;
        color: #DCD7C9;
        border: 1px dashed #DCD7C9;
        transition: background-color 0.5s;
    }
    section#project-1-puzzlaffic:hover {
        background-color: #DCD7C9;
        color: #3F4E4F;
        border: 1px dashed #3F4E4F;
        transition: background-color 0.5s;
    }
    li {
        list-style-type: none;
    }
</style>
