---

---
<footer>
    <section id="copyright">
        <p>Made with &#10084;&#65039;</p>
        <p>and with <a href="https://astro.build/">Astro</a> and
             <a href="https://reactjs.org/">React</a></p>
    </section>
</footer>

<style>
    footer {
        font-size: 0.9em;
        color: #2C3639;
        background-color: #A27B5C;
        height: 20%;
        justify-content: center;
        display: flex;
    }
    section#copyright {
        margin: auto;
        text-align: center;
    }
    a {
        text-decoration: underline;
        color: #2C3639;
    }
</style>