---

---
<nav>
    <a href="">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
</nav>

<style>
    nav {
        justify-content: center;
        text-align: center;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
    a {
        color: #DCD7C9;
        background-color: #2C3639;
        text-decoration: none;
        padding: 5px;
        font-size: 1.5em;
        margin: 0px 5px;
    }
    a:active {
        background-color: #DCD7C9;
        color: #2C3639;
    }
    a:hover {
        background-color: #DCD7C9;
        color: #2C3639;
    }
</style>
