---

---
<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="../public/Resume_july_2022.pdf">CV</a>
</nav>

<style>
    nav {
        justify-content: center;
        padding-bottom: 5px;
        display: flex;
        border-bottom: dashed #2C3639 1px;
    
    }
    a {
        color: #A27B5C;
        background-color: #2C3639;
        text-decoration: none;
        padding: 5px;
        font-size: 1.5em;
        margin: 0px 5px;
        transition: background-color 0.5s;
    }
    a:last-of-type {
        position: absolute;
        right: 10px;
    }
    a:hover {
        color: #2C3639;
        background-color: #DCD7C9;

        transition: color 0.5s;
    }
</style>
