---

---
<nav>
    <!--TODO: consider adding a burger menu for phone screens-->
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="./Resume_july_2022.pdf">CV</a>
</nav>

<style>
    nav {
        justify-content: center;
        display: flex;
        border-bottom: solid #DCD7C9 1px;
        background-color: #2C3639;
    }
    nav a {
        color: #DCD7C9;
        text-decoration: none;
        border-left: dashed 1px #DCD7C9;
        border-right: dashed 1px #DCD7C9;
        border-bottom: dashed 1px #2C3639;
        padding: 1rem;
        font-size: 1rem;
        margin: 0px;
        transition: background-color 0.5s;
    }
    nav a::after {
        content:"";
        border-bottom: 1.5px dashed #2C3639;
        display: block;
        position: relative;
        top: 1.1rem;
    }
    @media any-hover {
        nav a:hover {
            color: #2C3639;
            background-color: #DCD7C9;

            transition: color 0.5s;
        }
    }
   
</style>
