---
import Layout from "../../layouts/Layout.astro";
import Project from "../../components/Project.astro";
import projectData from "../../data/projects.json";
---

<Layout>
  <meta
    slot="inside-head"
    name="description"
    content="projects page for Berke Anday Baloglu's portfolio/resume
		 website. Consists of a timeline and previous projects developed."
  />
  <main>
    <h2>Projects</h2>
    <section id="project-timeline">
      <div class="vertical-line"></div>
      {
        projectData.projects.map((proj, i) => {
          const alignment = i % 2 == 0 ? "left" : "right";
          return <Project alignment={alignment} {...proj} />;
        })
      }
    </section>
  </main>
</Layout>
<style>
  main {
    min-height: 100%;
    display: grid;
    grid-template-rows: 4em;
    background-color: #dcd7c9;
    overflow: visible;
    font-size: calc((0.1em + 0.5vmin) + (0.1em + 0.5vmax));
  }
  h2 {
    justify-self: center;
    color: #3f4e4f;
    width: fit-content;
    border-bottom: 3px dashed #3f4e4f;
    margin-bottom: 0px;
  }
  section#project-timeline {
    display: grid;
    grid-template-columns: 1fr fit-content(10px) 1fr;
    row-gap: 2rem;
    align-items: center;
    min-height: 100%;
    max-width: 100%;
    padding-bottom: 5%;
  }
  .vertical-line {
    border-left: 3px dashed #3f4e4f;
    grid-column: 2;
    height: 100%;
    grid-row: 1 / span 6;
  }
</style>
