---
import Navbar from "../components/Navbar";
---
<html>
    <head>
        <meta charset="utf-8" />
        <title>BerkeAnday.dev</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body class="font-serif">
        <Navbar />
        <article>
            <slot />
        </article>
    </body>
</html>