---
import Navbar from "../components/Navbar.astro";
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Anday.dev : Berke Anday Baloglu's Portfolio Website</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <Navbar />
        <slot name="before-main"/>
        <main>
            <article>
                <slot />
            </article>
        </main>
        <footer>
            <slot name="inside-footer"/>
        </footer>
    </body>
</html>

<style>
    html {
        height: 100%;
    }
    body {
        font-family: 'Monaco', 'Times New Roman', 'Serif';
        height: 100%;
        margin: 0px;
    }
    main {
        display: flex;
    }
    article#about-summary {
        border: 1px solid black;
        margin: 5px;
        padding: 5px;
        text-align: right;
        background-color: #2C3639;
        margin-left: auto;
        flex-grow: 1;
    }
</style>